 <div class="col md-3">
<%= form_with model: post_workout do |form| %>
    <% if form.object.errors.any? %>
    <div>
    <% form.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>
    <% end %>
    </div>
    <% end %>
    
    <div>
    <%= form.label :category %>
    <%= form.select :category, PostWorkout.categories.keys %>
    </div>
    <p>
    <div>
    <%= form.label :date %>
    <%= form.text_field :date %>
    </div>
    </p>
    </p>
    <div>
    <%= form.label :duration %>
    <%= form.text_field :duration %>
    </div>
    </p>
    <p>
    <div>
    <%= form.label :Comment %>
    <%= form.text_area :name %>
    </div>
    </p>
    <%= form.button %>
<% end %>
</div>
