<%= form_with model: post_workout do |form| %>
    <% if form.object.errors.any? %>
    <div>
    <% form.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>
    <% end %>
    </div>
    <% end %>
    
    <div>
    <%= form.label :category %>
    <%= form.select :category, PostWorkout.categories.keys %>
    </div>
    <div>
    <%= form.label :date %>
    <%= form.text_field :date %>
    </div>
    <div>
    <%= form.label :duration %>
    <%= form.text_field :duration %>
    </div>
    <div>
    <%= form.label :Comment %>
    <%= form.text_area :name %>
    </div>
    <%= form.button %>
<% end %>
