<h5 class="text-center text-uppercase text-primary font-weight-bold"><%= link_to "New workout", new_post_workout_path %></h2>
    
<div>Category:<%= @post_workout.category %></div>
<div>Date:<%= @post_workout.date %></div>
<div>Duration:<%= @post_workout.duration %></div>
<h2>Workout: <%= @post_workout.name %></h2>
<%= link_to "Edit", edit_post_workout_path(@post_workout) if user_signed_in? %>